@using IydeParfume.Areas.Client.ViewModels.ShopPage
@model List<SeasonListItemViewModel>




<ul class="list-group" id="myList">
    @foreach (var item in Model)
    {

        <li class="list-group-item">
        <input type="hidden" value="@item.Id" />
            <a class=" select-season" asp-route="client-shoppage-filter" asp-route-seasonId="@item.Id">@item.Title </a>
        </li>
        
    }
</ul>
