    @using IydeParfume.Areas.Client.ViewComponents

<!-- Basket -->
<div class="Basket-section">
    <div class="container ">
        <div class="basketHeader">
            <h5 class="title">SƏBƏTİM</h5>
            <span>(4 məhsul)</span>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">

                <div class="right-card revan">

                    @await Component.InvokeAsync(nameof(Basket))
                </div>
            </div>

            <div class="col-lg-1"></div>

        </div>
    </div>
</div>
<!-- Basket End -->
