@using IydeParfume.Areas.Client.ViewModels.Home
@model List<BlogViewModel>

<div class="blog">
    <div class="container">
        <div class="title">
            BLOQ
        </div>
        <div class="Blogs">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-12">
                    <div class="blog-content">
                        <a asp-route="client-blogPage-index" asp-route-blogId="@item.Id">

                        <img src="~/@item.BlogDisplays">
                        </a>

                    </div>
                    <div class="blog-body">
                        <p>@item.Title</p>
                    </div>

                </div>
            }
            


        </div>
        <div class="more-blog d-flex justify-content-center">
            <a asp-route="client-blog-index">Bütün bloqlar</a>
        </div>
    </div>
</div>


