.Basket-section {
  background-color: #fdfcfc;
  padding-bottom: 8rem;
}
.Basket-section .basketHeader {
  margin: 2.2rem 0;
}
.Basket-section .basketHeader h5 {
  color: #121212;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.08em;
  line-height: 3.8rem;
  text-align: center;
  text-transform: uppercase;
}
.Basket-section .basketHeader span {
  color: #121212;
  display: block;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 2.3rem;
  opacity: 0.36;
  text-align: center;
}
.Basket-section .account .account-delivery {
  align-items: center;
  color: #121212;
  display: flex;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.08em;
  line-height: 2.1rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.Basket-section .account .account-delivery div {
  align-items: center;
  display: flex;
}
.Basket-section .account .account-delivery div span {
  align-items: center;
  border: 0.1rem solid #ff0852;
  border-radius: 50%;
  box-sizing: border-box;
  color: #ff0852;
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  height: 2.6rem;
  justify-content: center;
  letter-spacing: 0.08em;
  line-height: 2.3rem;
  margin-right: 1rem;
  text-align: center;
  text-transform: uppercase;
  width: 2.6rem;
}
.Basket-section .account .address .addressAddCard {
  align-items: center;
  background-color: transparent;
  border: 0.1rem solid rgba(16, 7, 24, 0.07);
  border-radius: 1rem;
  box-sizing: border-box;
  display: flex;
  height: 16rem;
  justify-content: center;
  position: relative;
  width: 100%;
}
.Basket-section .account .address .addressAddCard:hover h4 {
  opacity: 0.8;
}
.Basket-section .account .address .addressAddCard h4 {
  color: #121212;
  font-size: 20px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0.1rem;
  line-height: 1.6rem;
  margin: auto;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 1.8rem;
  transition: 0.5s;
}
.Basket-section .account .address .addressAddCard i {
  font-size: 47px;
  font-weight: 100;
  color: #ff0852;
}
.Basket-section .account .address .modal-dialog .modal-footer .blackButton {
  align-items: center;
  background: #121212;
  border: none;
  border-radius: 3rem;
  color: #fdfcfc;
  display: flex;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  height: 3.8rem;
  justify-content: center;
  letter-spacing: 0.1em;
  line-height: 2.1rem;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  width: 100%;
}
.Basket-section .account .address .modal-dialog .modal-footer .blackButton:hover {
  background-color: #310713;
}
.Basket-section .account .address .address-card {
  background: #fff;
  border: 0.1rem solid rgba(16, 7, 24, 0.07);
  border-radius: 1rem;
  box-sizing: border-box;
  display: block;
  display: flex;
  flex-direction: column;
  height: 16rem;
  margin-bottom: 1.6rem;
  padding-top: 0.5rem;
  overflow: hidden;
  position: relative;
  transition: 0.5s;
  width: 100%;
}
.Basket-section .account .address .address-card .address-inner {
  padding: 0.8rem;
}
.Basket-section .account .address .address-card .address-inner .title {
  font-size: 0.8rem;
  color: rgba(18, 18, 18, 0.3764705882);
}
.Basket-section .account .address .address-card .address-inner .title p {
  color: #121212;
  font-size: 1rem;
  margin-top: 8px;
}
.Basket-section .account .address .address-card .address-inner-bottom {
  align-items: center;
  border-top: 0.1rem solid rgba(16, 7, 24, 0.07);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.Basket-section .account .address .address-card .address-inner-bottom p {
  color: #1e0f34;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
  margin: 0;
}
.Basket-section .account .address .address-card .buttons {
  align-items: center;
  display: flex;
}
.Basket-section .account .address .address-card .buttons button {
  background-color: transparent;
  border: none;
  height: 2.4rem;
  margin-left: 1.6rem;
  padding: 0;
  width: 2.4rem;
}
.Basket-section .account .account-payment .title {
  color: #121212;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.08em;
  line-height: 2.1rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.Basket-section .account .account-payment .title p {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5rem;
  margin-left: 1.2rem;
  opacity: 0.6;
  margin-top: 13px;
}
.Basket-section .account .account-payment .title .payment-title {
  align-items: center;
  display: flex;
  white-space: nowrap;
  margin-right: 5px;
}
.Basket-section .account .account-payment .title .payment-title span {
  align-items: center;
  border: 0.1rem solid #ff0852;
  border-radius: 50%;
  box-sizing: border-box;
  color: #ff0852;
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  height: 2.6rem;
  justify-content: center;
  letter-spacing: 0.08em;
  line-height: 2.3rem;
  margin-right: 1rem;
  text-align: center;
  text-transform: uppercase;
  width: 2.6rem;
}
.Basket-section .account .account-payment .form-check {
  margin-left: 5rem;
}
.Basket-section .right-card .card-parent {
  border-bottom: 0.1rem solid #ebeaea;
  max-height: 82rem;
  overflow: hidden;
  margin-top: 15px;
}
.Basket-section .right-card .card-parent .card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-bottom: 0.1rem solid #ebeaea;
  position: relative;
  justify-content: center;
  border: none;
}
.Basket-section .right-card .card-parent .card .card-image {
  align-items: center;
  background: #fff;
  border-radius: 1.5rem;
  display: flex;
  height: 8rem;
  justify-content: center;
  width: 9rem;
}
.Basket-section .right-card .card-parent .card .card-image img {
  max-height: 5rem;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}
.Basket-section .right-card .card-parent .card .order-detail {
  margin-left: 1.6rem;
  padding: 1rem 0;
}
.Basket-section .right-card .card-parent .card .order-detail h6 {
  color: #121212;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  height: 3.2rem;
  letter-spacing: 0.05em;
  line-height: 145%;
  margin-bottom: 0.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
}
.Basket-section .right-card .card-parent .card .order-detail .card-raiting {
  align-items: center;
  display: flex;
}
.Basket-section .right-card .card-parent .card .order-detail .card-raiting i {
  color: #FF0852;
}
.Basket-section .right-card .card-parent .card .order-detail .order-detail-button {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1.8rem 0 0;
}
.Basket-section .right-card .card-parent .card .order-detail .order-detail-button .left {
  align-items: center;
  color: #121212;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 135.9%;
}
.Basket-section .right-card .card-parent .card .order-detail .order-detail-button .left .quantity {
  align-items: center;
  border: 0.1rem solid #121212;
  border-radius: 3rem;
  box-sizing: border-box;
  display: flex;
  height: 2rem;
  justify-content: center;
  margin-right: 1.6rem;
  width: 5rem;
}
.Basket-section .right-card .card-parent .card .order-detail .order-detail-button .left .quantity .quantity-picker .quantity-modifier {
  background-color: transparent;
  border: none;
  color: #121212;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}
.Basket-section .right-card .card-parent .card .order-detail .order-detail-button .left .quantity .quantity-picker .quantity-display {
  background-color: transparent;
  border: none;
  color: #121212;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}
.Basket-section .right-card .card-parent .card .order-detail .order-detail-button .left .resp-none {
  border-left: 0.1rem solid rgba(18, 18, 18, 0.062745098);
  padding-left: 1.3rem;
  display: flex;
}
.Basket-section .right-card .card-parent .card .order-detail .order-detail-button .right {
  align-items: flex-start;
  display: flex;
  font-style: normal;
  letter-spacing: 0.05em;
}
.Basket-section .right-card .card-parent .card .order-detail .order-detail-button .right p {
  align-items: flex-end;
  color: #121212;
  display: flex;
  font-size: 28px;
  font-weight: 500;
  margin-top: 11px;
}
.Basket-section .right-card .card-parent .card .order-detail .order-detail-button .right p i {
  font-size: 15px;
}
.Basket-section .right-card .card-parent .card .deleteCart {
  order: none;
  color: #121212;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.05em;
  opacity: 0.3;
  position: absolute;
  right: 1.4rem;
  top: 0.8rem;
  transition: 0.5s;
  border: none;
}
.Basket-section .right-card .card-parent .card .deleteCart:hover {
  opacity: 1;
}
.Basket-section .right-card .card-total {
  align-items: center;
  background: #fff;
  border: 0.1rem solid #f5f5f5;
  border-radius: 15px;
  box-sizing: border-box;
  display: flex;
  height: 6.8rem;
  justify-content: center;
  margin: 1rem 0;
  padding-left: 3rem;
}
.Basket-section .right-card .card-total .total-left {
  border-right: 0.1rem solid #e7e7e7;
  width: 40%;
  height: 59%;
}
.Basket-section .right-card .card-total .total-left p {
  color: hsla(0, 0%, 7%, 0.75);
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.08em;
}
.Basket-section .right-card .card-total .total-right {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 50%;
}
.Basket-section .right-card .card-total .total-right p {
  color: hsla(0, 0%, 7%, 0.75);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 2.8rem;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
.Basket-section .right-card .order-complete {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.Basket-section .right-card .order-complete a {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.7);
  color: hsla(0, 0%, 7%, 0.75);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.6rem;
  transition: 0.5s;
}
.Basket-section .right-card .order-complete a:hover {
  color: #000;
  border-bottom: 0.1rem solid #000;
}
.Basket-section .right-card .order-complete .greenButton {
  align-items: center;
  background: #2fb12f;
  border: none;
  border-radius: 3rem;
  color: #fdfcfc;
  display: flex;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  height: 4rem;
  justify-content: center;
  letter-spacing: 0.1em;
  line-height: 2.1rem;
  padding: 0 3rem;
  text-align: center;
  text-transform: uppercase;
  transition: 0.3s;
}

@media (max-width: 576px) {
  .Basket-section {
    padding-bottom: 3rem;
  }
  .Basket-section .address-inner-bottom {
    padding: 0 1rem;
    justify-content: space-between !important;
  }
  .Basket-section .account-payment .title {
    align-items: flex-start !important;
    flex-direction: column;
    margin: 0 !important;
  }
  .Basket-section .account-payment .form-check {
    margin-left: 1rem !important;
  }
  .Basket-section .card-total {
    padding-left: 0 !important;
  }
  .Basket-section .order-complete {
    align-items: flex-start !important;
    display: flex !important;
    flex-direction: column;
  }
  .Basket-section .order-complete .greenButton {
    width: 100%;
  }
  .Basket-section .order-complete a {
    margin-bottom: 1rem;
  }
}/*# sourceMappingURL=basket.css.map */