.menu-item {
    
    position: relative !important;
    cursor: pointer;


    #drop-menu {
        position: absolute !important;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        left: 0px;
        width: 180px;
        background-color: #ffffff;
        visibility: hidden;
        opacity: 0;
        transition: .5s;
        top: 0px;
        padding: 10px;
        border-radius: 10px;
        z-index: 1;
        li {
            margin-top: 8px;
            list-style: none;
            a{
            color: black;

            }
        }
    }

}
.menu-item:hover #drop-menu {
    visibility: visible;
    opacity: 1;
    top: 30px;

}
