* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
}

* a {
  text-decoration: none;
}

.headerTop {
  background-color: #fdfcfc;
  border-bottom: 0.08rem solid hsla(0, 0%, 7%, 0.15);
  padding: 0.5rem 0;
}
.headerTop .left {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}
.headerTop .left a {
  display: block;
  margin-left: 0.8rem;
  color: black;
  opacity: 0.7;
  transition: 0.5s;
}
.headerTop .left a:hover {
  color: #FF0852;
}
.headerTop .right button:first-child {
  border-right: 1px solid black;
  padding-right: 0.6rem;
}
.headerTop .right button {
  background-color: transparent;
  border: none;
  color: hsla(0, 0%, 7%, 0.7);
  font-style: normal;
  font-size: small;
  line-height: 0.7rem;
  padding: 0 0.3rem;
  transition: 0.5s;
}
.headerTop .right button:hover {
  color: #FF0852;
}

.headerMiddleParent {
  position: sticky;
  top: 0;
  z-index: 9;
  background-color: #fdfcfc;
}
.headerMiddleParent .headerMiddleChild {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0;
  padding: 1.5rem 0 1.2rem;
}
.headerMiddleParent .headerMidChild {
  width: 60%;
}
.headerMiddleParent .form {
  background-color: #fdfcfc;
  width: 93%;
  justify-content: space-between;
  padding: 11px;
  border: 1px solid black;
  border-radius: 30px;
  margin: 0 -3rem;
}
.headerMiddleParent .form input {
  margin-left: 2rem;
  border: none;
  outline: none;
}
.headerMiddleParent .form button {
  outline: none;
  border: none;
  background-color: transparent;
  margin-right: 1rem;
}
.headerMiddleParent .form button i {
  opacity: 0.4;
}
.headerMiddleParent .phoneNumber {
  padding-left: 5rem;
}
.headerMiddleParent .phoneNumber .wp-button {
  border-right: 0.7px solid rgba(0, 0, 0, 0.447);
  padding-right: 1.1rem;
  width: 20%;
}
.headerMiddleParent .phoneNumber .wp-button img {
  width: 100%;
}
.headerMiddleParent .phoneNumber .phNumber {
  color: #000;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 1.8rem;
  padding: 0;
  transition: 0.3s;
  white-space: nowrap;
  border-bottom: 0.1rem solid #121212;
  margin-left: 1.1rem;
}
.headerMiddleParent .phoneNumber .phNumber:hover {
  color: #FF0852;
  border-bottom: 0.1rem solid #FF0852;
}
.headerMiddleParent .accountBasket {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
.headerMiddleParent .accountBasket a {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3.2rem;
  color: rgba(0, 0, 0, 0.7921568627);
  transition: 0.5s;
}
.headerMiddleParent .accountBasket a:hover {
  color: #FF0852;
}

.headerBottom {
  padding: 0 11rem;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.078);
}
.headerBottom .navbar li {
  list-style: none;
  border-bottom: #292930;
  z-index: 1;
}
.headerBottom .navbar a {
  font-size: 22px;
  text-decoration: none;
  color: #292930;
  font-weight: bold;
  position: relative;
}
.headerBottom .navbar a i {
  opacity: 0.7;
}
.headerBottom .navbar a::before {
  content: "";
  position: absolute;
  background-color: black;
  bottom: -10px;
  left: 0;
  height: 2px;
  width: 0%;
  transition: 0.7s;
}
.headerBottom .navbar a:hover::before {
  width: 100%;
}
.headerBottom .navbar .menu-item {
  position: relative !important;
  cursor: pointer;
}
.headerBottom .navbar .menu-item #drop-menu {
  position: absolute !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: -50px;
  width: 180px;
  background-color: #FDFCFC;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  top: 0px;
  padding: 10px;
  border-radius: 2px;
  z-index: 3;
}
.headerBottom .navbar .menu-item #drop-menu li {
  margin-top: 8px;
  list-style: none;
}
.headerBottom .menu-item:hover #drop-menu {
  visibility: visible;
  opacity: 1;
  top: 50px;
}

.mobileHead {
  display: none;
  background-color: white;
  z-index: 6;
  position: sticky;
  top: 0;
  height: 4.1rem;
}
.mobileHead .menu i {
  font-size: 30px;
}
.mobileHead .logo svg {
  width: 100%;
  height: 4rem;
}
.mobileHead .search i {
  font-size: 30px;
}

.contentCategory {
  background: #f8f0f0;
}
.contentCategory .second {
  padding: 0 1.6rem;
}
.contentCategory .second .left {
  display: flex;
  flex-direction: column;
  height: 32rem;
  justify-content: center;
}
.contentCategory .second .left h1 {
  font-size: 50px;
}
.contentCategory .second .left p {
  font-size: 22px;
  color: rgba(18, 18, 18, 0.8745098039);
}
.contentCategory .second .left a {
  font-size: 20px;
  color: #000;
  border-bottom: 1px solid black;
  transition: 0.5s;
}
.contentCategory .second .left a:hover {
  color: #FF0852;
  border-bottom: 1px solid #FF0852;
}
.contentCategory img {
  height: 28rem;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}


.categorySection .category {
  background-color: #fff;
  color: #444;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 25rem 25rem;
  margin-bottom: 1.2rem;
}
.categorySection .category .category-box-child:first-child {
  background-color: #fce367;
}
.categorySection .category .category-box-child:nth-child(2) {
  background: #82bebe;
}
.categorySection .category .category-box-child:nth-child(3) {
  background: #e6e8e3;
}
.categorySection .category .category-box-child:nth-child(4) {
  background: #fdd9e3;
}
.categorySection .category a {
  position: relative;
  overflow: hidden;
}
.categorySection .category a img {
  bottom: 0;
  height: 18rem;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  right: 0;
  width: auto;
  transition: 0.5s;
}
.categorySection .category a:hover img {
  transform: scale(1.1);
}
.categorySection .category a h4 {
  color: #000;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 500;
  left: 2.5rem;
  letter-spacing: 0.08em;
  line-height: 140%;
  position: absolute;
  top: 2.5rem;
}
.categorySection .more-category {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 3rem;
}
.categorySection .more-category a {
  background-color: transparent;
  border: none;
  border-bottom: 0.08rem solid #121212;
  color: #121212;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  border-bottom: 1px solid #121212;
  letter-spacing: 0.05em;
  line-height: 2rem;
  position: relative;
  text-transform: uppercase;
  transition: 0.5s;
}
.categorySection .more-category a:hover {
  color: #FF0852;
  border-bottom: 1px solid #FF0852;
}

.collections .title {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3.2rem;
}
.collections .title h4 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 4.2rem;
  margin-bottom: 0.8rem;
  text-transform: uppercase;
}
.collections .title p {
  font-size: 20px;
}
.collections .category-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 20rem 20rem;
}
.collections .category-box .category-box-child:first-child {
  background-color: #eeedf0;
  grid-column: 1;
}
.collections .category-box .category-box-child:nth-child(2) {
  background: #f3eae1;
  grid-column: 2;
}
.collections .category-box .category-box-child:nth-child(3) {
  background: #eff4f6;
  grid-column: 3;
}
.collections .category-box .category-box-child:nth-child(4) {
  background: #e4ddea;
  grid-column: 4;
}
.collections .category-box .category-box-child:nth-child(5) {
  background: #f8f4df;
  grid-column: 1;
  grid-row: 2;
}
.collections .category-box .category-box-child:nth-child(6) {
  background: #e0e0e2;
  grid-column: 2;
  grid-row: 2;
}
.collections .category-box .category-box-child:nth-child(7) {
  background: #f1e5e5;
  grid-column: 3;
  grid-row: 2;
}
.collections .category-box .category-box-child:nth-child(8) {
  background: #c3fbd8;
  grid-column: 4;
  grid-row: 2;
}
.collections .category-box .category-box-child {
  display: block;
  position: relative;
  overflow: hidden;
}
.collections .category-box .category-box-child h4 {
  color: #000;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  left: 1.4rem;
  letter-spacing: 0.08em;
  line-height: 140%;
  position: absolute;
  text-transform: uppercase;
  top: 1.4rem;
  width: 50%;
}
.collections .category-box .category-box-child img {
  bottom: 1rem !important;
  height: 70% !important;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  right: 1rem !important;
  width: auto;
  transition: 0.5s;
}
.collections .category-box .category-box-child:hover img {
  transform: scale(1.1);
}

.blog {
  margin-bottom: 5rem;
  padding-top: 5rem;
}
.blog .slick-next {
  display: none !important;
}
.blog .title {
  color: #121212;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 4.2rem;
  margin-bottom: 2.8rem;
  text-align: center;
  text-transform: uppercase;
}
.blog .blog-content {
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 3rem;
  height: 20rem;
  overflow: hidden;
  width: 100%;
}
.blog .blog-content img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.blog .blog-content:hover img {
  transform: scale(1.1);
}
.blog .blog-body {
  padding: 1.5rem 1.2rem 1.6rem;
}
.blog .blog-body p {
  font-size: 20px;
  font-weight: 500;
}
.blog .more-blog a {
  border-bottom: 0.08rem solid #121212;
  color: #121212;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 2rem;
  text-transform: uppercase;
  transition: 0.5s;
}
.blog .more-blog a:hover {
  color: #FF0852;
  border-bottom: 0.08rem solid #FF0852;
}

.about {
  background: #f7f7f8;
  padding: 6rem 0;
}
.about .container {
  display: flex;
  justify-content: center;
}
.about .container .aboutChild {
  width: 55%;
}
.about .container .aboutChild .title {
  color: #121212;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 2.8rem;
  margin-bottom: 0.9rem;
}
.about .container .aboutChild h6 {
  color: #121212;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 150%;
  margin-bottom: 0.6rem;
}
.about .container .aboutChild p {
  font-size: 14px;
}
.about .container .aboutChild p a {
  color: #FF0852;
}
.about .container .aboutChild p a:hover {
  color: #121212;
}

.footer {
  background: #121212;
  padding: 4rem 0 4rem;
}
.footer .container {
  margin: 0 auto;
  padding: 0 1.6rem;
}
.footer .container .footer-top {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}
.footer .container .footer-top ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .container .footer-top ul li {
  align-items: center;
  display: flex;
  margin-bottom: 0.6rem;
}
.footer .container .footer-top ul li svg {
  margin-right: 8px;
}
.footer .container .footer-top ul li a {
  color: rgba(255, 255, 255, 0.586);
  border-bottom: 1px solid transparent;
  transition: 0.5s;
}
.footer .container .footer-top ul li a:hover {
  border-bottom: 1px solid #FF0852;
  color: #FF0852;
}
.footer .container .footer-top ul li .title {
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 2.1rem;
  opacity: 1;
  color: white;
}
.footer .container .footer-email {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.footer .container .footer-email .footerSendMail {
  background: #121212;
  border: 0.1rem solid #fdfcfc;
  border-radius: 3rem;
  box-sizing: border-box;
  height: 3rem;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.footer .container .footer-email .footerSendMail .footerSendMailSvg {
  align-items: center;
  bottom: 0;
  display: flex;
  left: 1.4rem;
  margin: auto;
  position: absolute;
  top: 0;
}
.footer .container .footer-email .footerSendMail .footerSendMailSvg svg {
  width: 1rem;
}
.footer .container .footer-email .footerSendMail input {
  background: transparent;
  border: 0;
  color: #fff !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 100%;
  opacity: 1;
  margin-left: 3rem;
}
.footer .container .footer-email .footerSendMail button {
  background: transparent;
  border: none;
  bottom: 0;
  height: 5rem;
  margin: auto;
  padding: 0 1.5rem 0 0;
  position: absolute;
  right: 0;
  top: 0;
}
.footer .container .footer-social {
  align-items: center;
  display: flex;
}
.footer .container .footer-social a {
  margin: 0 1rem;
  transition: 0.5s;
  color: white;
}
.footer .container .footer-social a i {
  font-size: 2.5rem;
}
.footer .container .footer-social a:hover {
  color: #FF0852;
}
.footer .container .footer-store a {
  margin-left: 1rem;
}
.footer .footer-bottom {
  margin-top: 2.5rem;
}
.footer .footer-bottom .content {
  align-items: center;
  color: #fcfcfc;
  display: flex;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 135%;
}
.footer .footer-bottom .content .row {
  width: 100%;
}
.footer .footer-bottom .content strong {
  align-items: center;
  display: flex;
}
.footer .footer-bottom .content strong a {
  color: white;
  transition: 0.5s;
}
.footer .footer-bottom .content strong a:hover {
  color: #FF0852;
}
.footer .footer-bottom .content strong span {
  display: block;
  margin: 0 0.4rem 0 1.2rem;
  opacity: 0.45;
  text-transform: uppercase;
}

@media (max-width: 576px) {
  .headerTop, .headerMiddleParent, .headerBottom {
    display: none;
  }
  .Slider img{
  width: inherit;
  }
  .footer-social {
    margin-top: 2rem;
  }
  .footerSendMail {
    width: 100%;
  }
  .abune {
    margin-left: 1rem;
  }
  .footer-store {
    margin-top: 1rem;
  }
  .footer-store a svg {
    width: 150px !important;
  }
  .footer-bottom .last {
    margin-top: 2rem;
    margin-left: 1rem;
  }
  .collections .title h4 {
    font-size: 24px;
  }
  .collections .title p {
    font-size: 14px;
  }
  .collections .category-box {
    display: flex;
    flex-direction: column;
  }
  .collections .category-box .category-box-child {
    align-items: flex-end;
    display: flex;
    height: 20rem !important;
    justify-content: flex-end;
    overflow: hidden;
  }
  .collections .category-box .category-box-child img {
    width: 40%;
  }
  .collections .category-box .category-box-child h4 {
    font-size: 24px;
    left: 3rem;
    line-height: 140%;
    right: auto !important;
    top: 4rem;
    width: 48%;
  }
  .categorySection .category {
    display: flex;
    flex-direction: column;
  }
  .categorySection .category .category-box-child {
    align-items: flex-end;
    display: flex;
    height: 18rem !important;
    justify-content: flex-end;
    overflow: hidden;
  }
  .categorySection .category .category-box-child img {
    bottom: 0;
    height: 14rem !important;
    -o-object-fit: contain !important;
       object-fit: contain !important;
    right: 0 !important;
    width: 50%;
  }
  .categorySection .category .category-box-child h4 {
    font-size: 24px;
    font-weight: 500;
    left: 3rem;
    line-height: 140%;
    right: auto !important;
    top: 3rem;
    width: 49% !important;
  }
  .about {
    padding: 3.6rem 0;
  }
  .about .container {
    max-width: 100%;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
  .about .container .aboutChild {
    width: 100%;
  }
  .contentCategory .second {
    max-width: 100%;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
  .contentCategory .second .fir .left {
    height: 17rem;
  }
  .contentCategory .second .fir h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .contentCategory .second .fir p {
    font-size: 14px;
  }
  .contentCategory .second .sec {
    order: -1;
  }
  .contentCategory .second .sec img {
    height: 11rem;
    -o-object-fit: contain;
       object-fit: contain;
    width: 100%;
  }
  .mobileHead {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */