@using IydeParfume.Areas.Admin.ViewModels.Category
@model AddViewModel

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Categories</h4>
            </div>
            <div class="card-body">
                <div class="general-label">
                    <form method="POST" asp-route="admin-cate-add" enctype="multipart/form-data">
                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                        <div class="form-group  d-flex justify-content-between align-items-center">
                            <div class="col-lg-4">
                                <label asp-for="Title"></label>
                                <input asp-for="Title" class="form-control">
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="col-lg-4">
                                <label>Categories</label>
                                <select asp-for="CategoryIds" asp-items="@(new SelectList(Model.Catagories, nameof(IydeParfume.Areas.Admin.ViewModels.Product.CatagoryListItemViewModel.Id), nameof(IydeParfume.Areas.Admin.ViewModels.Product.CatagoryListItemViewModel.Title)))" class="form-select">
                                    <option value="" selected>None</option>
                                </select>
                                <span asp-validation-for="CategoryIds" class="text-danger"></span>
                            </div>
                            <div class="col-lg-4">
                                <label asp-for="Image"></label>
                                <input asp-for="Image" class="form-control">
                                <span asp-validation-for="Image" class="text-danger"></span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div><!--end card-body-->
        </div><!--end card-->
    </div>
</div>