@using IydeParfume.Areas.Admin.ViewModels.Size
@model UpdateViewModel

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Sizes</h4>
            </div>
            <div class="card-body">
                <div class="general-label">
                    <form method="POST" asp-route="admin-size-update" asp-route-id="@Model.Id">
                        <div class="form-group">
                            <label asp-for="PrSize"></label>
                            <input asp-for="PrSize" class="form-control">
                            <span asp-validation-for="PrSize" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PrPercent"></label>
                            <input asp-for="PrPercent" class="form-control">
                            <span asp-validation-for="PrPercent" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div><!--end card-body-->
        </div><!--end card-->
    </div>
</div>